.editor-styles-wrapper > * {
  font-family: "PT Sans";
  font-size: 18px;
}

.wp-block {
  max-width: 1208px;
}

.bitad-organizers > .wp-block-group__inner-container,
.bitad-events > .wp-block-group__inner-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  background-color: var(--color-white);
}
