:root {
  --margin-xxs: 8px;
  --margin-xs: 16px;
  --margin-s: 24px;
  --margin-m: 32px;
  --margin-l: 40px;
  --margin-xl: 56px;
  --margin-xxl: 64px;
  --margin-xxxl: 88px;
  --section-margin: 96px;
  --hero-margin-top: 134px;
  --two-min-column: 380px;
  --three-min-column: 360px;
  --footer-min-column: 340px;
}

@media all and (max-width: 781px) {
  :root {
    --margin-s: 16px;
    --margin-m: 24px;
    --margin-l: 32px;
    --margin-xl: 48px;
    --margin-xxl: 56px;
    --margin-xxxl: 80px;
    --section-margin: 88px;
  }
}

@media all and (max-width: 450px) {
  :root {
    --footer-min-column: 267px;
    --two-min-column: 260px;
    --three-min-column: var(--two-min-column);
  }
}

body {
  margin: 0;
  background-color: var(--color-white);
}

.wp-block-columns,
.wp-block-image {
  margin-bottom: 0;
}

.bitad-nav {
  position: absolute;
  padding: var(--margin-xs) 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.bitad-nav .bitad-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bitad-nav-links,
.widget_nav_menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.bitad-nav-links li,
.widget_nav_menu ul li {
  display: inline-block;
  margin-right: var(--margin-m);
}
.bitad-nav-links li:last-child {
  margin-right: 0;
}

.bitad-container,
.bitad-hero .wp-block-group__inner-container,
.bitad-section .wp-block-group__inner-container {
  margin: 0 auto;
  padding: 0 var(--margin-xs);
  max-width: var(--max-width);
}
.bitad-container .wp-block-column:not(:first-child),
.bitad-section .wp-block-column:not(:first-child) {
  margin-left: var(--margin-xl);
}

.bitad-hero {
  padding-top: var(--hero-margin-top);
  padding-bottom: var(--section-margin);
  background-image: url(../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 760px;
  text-align: center;
}
.bitad-hero-image {
  margin-bottom: var(--margin-xxl);
}
.bitad-hero-image img {
  max-height: 333px;
}

.bitad-footer {
  padding: var(--section-margin) 0;
  background: url(../images/gray-white-bg.svg), #ededed;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 85rem, auto;
}

figure {
  margin-top: 0;
  margin-bottom: 0;
}

.bitad-section {
  overflow: hidden;
  padding-top: var(--margin-xl);
  padding-bottom: var(--section-margin);
}

.bitad-image-indicator {
  position: relative;
  margin-bottom: 0;
}
.bitad-image-indicator img {
  height: auto;
}
.bitad-image-indicator::before {
  z-index: -1;
  content: "";
  position: absolute;
  right: 0;
  margin-top: calc(var(--margin-l) * -1);
  margin-right: calc(var(--margin-l) * -1);
  width: 67%;
  height: 54%;
  background-color: var(--color-blue);
}

.half-gray {
  background: url(../images/blue-bg.svg), url(../images/gray-bg.svg);
  background-position: left bottom, left top;
  background-size: 14.27rem auto, 50% auto;
  background-repeat: no-repeat, repeat-y;
}
.half-neutral {
  background: url(../images/neutral-bg.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 83.6rem;
}

.bitad-center img,
.bitad-center p {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  width: 100%;
}

.bitad-elements {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--three-min-column), 1fr)
  );
  grid-gap: var(--margin-xl);
  gap: var(--margin-xl);
}
.bitad-elements .bitad-element,
.bitad-organizers .bitad-organizer,
.bitad-organizer-profile .wp-block-column {
  margin: 0 !important;
}

.bitad-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--margin-m);
  background-color: var(--color-white);
}
.bitad-element .wp-block-image {
  margin-bottom: var(--margin-xs);
}
.bitad-element img {
  width: auto;
  height: 44px;
}

.bitad-organizers {
  display: grid;
  grid-gap: var(--margin-m);
  gap: var(--margin-m);
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--three-min-column), 1fr)
  );
  background-color: var(--color-white);
}
.bitad-organizer {
  padding: var(--margin-m);
}
.bitad-organizer-profile {
  display: grid;
  grid-column-gap: var(--margin-xs);
  column-gap: var(--margin-xs);
  grid-template-columns: repeat(2, auto);
  margin-bottom: var(--margin-xs);
}
.bitad-organizer-profile img {
  width: 68px;
  height: 68px;
}
.bitad-organizers p,
.bitad-organizer-profile h4 {
  margin-bottom: 0;
}

.half-right {
  text-align: left;
  position: relative;
  left: 50%;
  width: calc(50% - var(--margin-xs));
  margin-left: var(--margin-xs);
}

.bitad-sponsors-gallery ul {
  align-items: center;
  width: 100%;
}
.bitad-sponsors-gallery li {
  flex-grow: 0 !important;
}
@media (min-width: 600px) {
  .bitad-sponsors-gallery.columns-1 li,
  .bitad-sponsors-gallery.columns-2 li {
    width: calc(33.33333% - 10.66667px) !important;
  }
}
@media (max-width: 599px) {
  .bitad-sponsors-gallery.columns-1 li {
    width: calc(50% - 16px) !important;
  }
}

.bitad-footer-widgets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--section-margin);
  gap: var(--section-margin);
  margin-bottom: var(--section-margin);
}

/* Edit Wordpress Media Queries */
@media (max-width: 781px) {
  .bitad-elements {
    grid-gap: var(--margin-m);
    gap: var(--margin-m);
  }
  .bitad-footer-widgets {
    grid-template-columns: 1fr;
  }

  .half-right {
    text-align: center;
    left: 0;
    margin-left: 0;
    width: 100%;
  }

  .bitad-container .wp-block-column,
  .bitad-section .wp-block-column {
    flex-basis: 100% !important;
  }
  .bitad-container .wp-block-column:not(:first-child),
  .bitad-section .wp-block-column:not(:first-child),
  .bitad-reverse .wp-block-column:first-child {
    margin-top: var(--margin-xl);
    margin-left: 0;
  }

  .bitad-reverse {
    flex-direction: column-reverse;
  }
  .bitad-reverse .wp-block-column:not(:first-child) {
    margin-top: 0;
    margin-left: 0;
  }
}
