:root {
  --margin-xxs: 8px;
  --margin-xs: 16px;
  --margin-s: 24px;
  --margin-m: 32px;
  --margin-l: 40px;
  --margin-xl: 56px;
  --margin-xxl: 64px;
  --margin-xxxl: 88px;
  --section-margin: 96px;
  --hero-margin-top: 134px;
  --two-min-column: 380px;
  --three-min-column: 360px;
  --footer-min-column: 340px;
}

@media all and (max-width: 781px) {
  :root {
    --margin-s: 16px;
    --margin-m: 24px;
    --margin-l: 32px;
    --margin-xl: 48px;
    --margin-xxl: 56px;
    --margin-xxxl: 80px;
    --section-margin: 88px;
  }
}

@media all and (max-width: 450px) {
  :root {
    --footer-min-column: 267px;
    --two-min-column: 260px;
    --three-min-column: var(--two-min-column);
  }
}

body {
  margin: 0;
  background-color: var(--color-white);
}

.wp-block-columns,
.wp-block-image {
  margin-bottom: 0;
}

.bitad-nav {
  position: absolute;
  padding: var(--margin-xs) 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.bitad-nav .bitad-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bitad-nav-links,
.widget_nav_menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.bitad-nav-links li,
.widget_nav_menu ul li {
  display: inline-block;
  margin-right: var(--margin-m);
}
.bitad-nav-links li:last-child {
  margin-right: 0;
}
.bitad-footer-widgets .widget_nav_menu {
  overflow-x: auto;
}
.bitad-footer-widgets .menu-footer-menu-container {
  overflow-x: auto;
  white-space: nowrap;
}

/* Hamburger menu based on https://jonsuh.com/hamburgers/ */
#bitad-hamburger {
  display: none;
  position: relative;
  top: 2px;
  width: 33px;
  height: 19px;
  cursor: pointer;
}
#bitad-hamburger .bitad-hamburger-inner,
#bitad-hamburger .bitad-hamburger-inner::before,
#bitad-hamburger .bitad-hamburger-inner::after {
  position: absolute;
  width: 33px;
  height: 3px;
  transition-timing-function: ease;
  transition-duration: 0.3s;
  transition-property: transform;
  background-color: var(--color-black);
}
#bitad-hamburger .bitad-hamburger-inner::before {
  content: "";
  top: 16px;
}
#bitad-hamburger .bitad-hamburger-inner::after {
  content: "";
  transition-property: transform, opacity;
  top: 8px;
}

.bitad-container,
.bitad-hero > .wp-block-group__inner-container,
.bitad-small-hero > .wp-block-group__inner-container,
.bitad-section > .wp-block-group__inner-container {
  margin: 0 auto;
  padding: 0 var(--margin-xs);
  max-width: var(--max-width);
}
.bitad-container > .wp-block-column:not(:first-child),
.bitad-section > .wp-block-column:not(:first-child) {
  margin-left: var(--margin-xl);
}

.bitad-hero,
.bitad-small-hero {
  padding-top: var(--hero-margin-top);
  padding-bottom: var(--section-margin);
}
.bitad-hero {
  background-image: url(../images/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 760px;
  text-align: center;
}
.bitad-hero-image img,
.custom-logo,
.widget_media_gallery .gallery-item .gallery-icon img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
.bitad-hero-image {
  margin-bottom: var(--margin-xxl);
}
.bitad-hero-image img {
  height: auto;
  max-height: 333px;
}

.bitad-small-hero {
  background-image: url(../images/small-hero-bg.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 28.3rem;
}

.bitad-footer {
  padding: var(--section-margin) 0;
  background: url(../images/gray-white-bg.svg), #ededed;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 85rem, auto;
}

figure {
  margin-top: 0;
  margin-bottom: 0;
}

.bitad-section {
  overflow: hidden;
  padding-top: var(--margin-xl);
  padding-bottom: var(--section-margin);
}

.bitad-image-indicator {
  position: relative;
  margin-bottom: 0;
}
.bitad-image-indicator img {
  height: auto;
}
.bitad-image-indicator::before {
  z-index: -1;
  content: "";
  position: absolute;
  right: 0;
  margin-top: calc(var(--margin-l) * -1);
  margin-right: calc(var(--margin-l) * -1);
  width: 67%;
  height: 54%;
  background-color: var(--color-blue);
}

.half-gray {
  background: url(../images/blue-bg.svg), url(../images/gray-bg.svg);
  background-position: left bottom, left top;
  background-size: 14.27rem auto, 50% auto;
  background-repeat: no-repeat, repeat-y;
}
.half-neutral {
  background: url(../images/neutral-bg.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 83.6rem;
}

.bitad-center img,
.bitad-center p {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  width: 100%;
}

.bitad-elements {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--three-min-column), 1fr)
  );
  grid-gap: var(--margin-xl);
  gap: var(--margin-xl);
}
.bitad-elements .bitad-element,
.bitad-organizers .bitad-organizer,
.bitad-organizer-profile .wp-block-column {
  margin: 0 !important;
}

.bitad-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--margin-m);
  background-color: var(--color-white);
}
.bitad-element .wp-block-image {
  margin-bottom: var(--margin-xs);
}
.bitad-element img {
  width: auto;
  height: 44px;
}

.bitad-organizers > .wp-block-group__inner-container {
  display: grid;
  grid-gap: var(--margin-m);
  gap: var(--margin-m);
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--three-min-column), 1fr)
  );
  background-color: var(--color-white);
}
.bitad-organizer {
  padding: var(--margin-m);
}
.bitad-organizer-profile {
  display: grid;
  grid-column-gap: var(--margin-xs);
  column-gap: var(--margin-xs);
  grid-template-columns: repeat(2, auto);
  margin-bottom: var(--margin-xs);
}
.bitad-organizer-profile img {
  width: 68px;
  height: 68px;
}
.bitad-organizer p,
.bitad-organizer-profile h4 {
  margin-bottom: 0;
}

.half-right {
  text-align: left;
  position: relative;
  left: 50%;
  width: calc(50% - var(--margin-xs));
  margin-left: var(--margin-xs);
}

/* .bitad-sponsors-gallery ul {
  display: grid;
  grid-gap: var(--margin-m);
  gap: var(--margin-m);
  grid-template-columns: repeat(auto-fit, minmax(123px, auto));
  margin-bottom: var(--margin-m);
  align-items: center;
}
.bitad-sponsors-gallery .blocks-gallery-item {
  width: 100% !important;
  margin: 0;
} */

.bitad-sponsors-gallery ul {
  align-items: center;
  width: 100%;
}
.bitad-sponsors-gallery li {
  flex-grow: 0 !important;
}
@media (min-width: 600px) {
  .bitad-sponsors-gallery.columns-1 li,
  .bitad-sponsors-gallery.columns-2 li {
    width: calc(33.33333% - 10.66667px) !important;
  }
}
@media (max-width: 599px) {
  .bitad-sponsors-gallery.columns-1 li {
    width: calc(50% - 16px) !important;
  }
}

.bitad-footer-widgets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--section-margin);
  gap: var(--section-margin);
  margin-bottom: var(--section-margin);
}

@media (max-width: 781px) {
  .no-scroll {
    overflow: hidden;
  }
  .bitad-elements {
    grid-gap: var(--margin-m);
    gap: var(--margin-m);
  }
  .bitad-footer-widgets {
    grid-template-columns: 1fr;
  }

  .half-right {
    text-align: center;
    left: 0;
    margin-left: 0;
    width: 100%;
  }

  .bitad-container .wp-block-column,
  .bitad-section .wp-block-column {
    flex-basis: 100% !important;
  }
  .bitad-container .wp-block-column:not(:first-child),
  .bitad-section .wp-block-column:not(:first-child),
  .bitad-reverse .wp-block-column:first-child {
    margin-top: var(--margin-xl);
    margin-left: 0;
  }
  /* Reverse order of section column */
  .bitad-reverse {
    flex-direction: column-reverse;
  }
  .bitad-reverse .wp-block-column:not(:first-child) {
    margin-top: 0;
    margin-left: 0;
  }
  /* Hide line form menu */
  .bitad-nav-links {
    display: none;
  }
  #bitad-hamburger {
    display: inline-block;
  }
  /* Open hamburger menu */
  .bitad-open {
    z-index: 1;
    overflow-y: auto;
    height: 100vh;
    background-color: var(--color-lgray);
  }
  .bitad-open .bitad-nav-links {
    display: block;
    position: absolute;
    top: var(--hero-margin-top);
    left: var(--margin-xs);
  }
  .bitad-open .bitad-nav-links li {
    display: block;
    margin-bottom: 40px;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: bold;
  }
  /* Remove border (button style) from link */
  .bitad-open .bitad-button a {
    padding: 0;
    border: none;
    text-align: left;
    position: relative;
  }
  .bitad-open .bitad-button a::after {
    position: absolute;
    top: 20px;
    right: -23px;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--color-black);
  }
  .bitad-open .bitad-button:hover a::after {
    background-color: var(--color-blue);
  }

  /* Hamburger animation */
  .bitad-open .bitad-hamburger-inner {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  .bitad-open .bitad-hamburger-inner::before {
    content: "";
    transform: translate3d(0, -16px, 0) rotate(-90deg);
  }
  .bitad-open .bitad-hamburger-inner::after {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
    opacity: 0;
  }
}
