:root {
  --root-font-size: 18px;
  --font-size-xxl: 62px;
  --line-height-xxl: 70px;
  --font-size-xl: 48px;
  --line-height-xl: 56px;
  --font-size-l: 28px;
  --line-height-l: 36px;
  --font-size-m: 24px;
  --line-height-m: 32px;
  --font-size-s: 16px;
  --line-height-s: 24px;

  --color-white: #fff;
  --color-blue: #4093cd;
  --color-black: #16334f;
  --color-lgray: #ededed;

  --max-width: 1208px;

  --border: solid 2px #16334f;
}

.bitad-light-green {
  background-color: rgba(10, 209, 143, 0.12);
}
.bitad-light-green .wp-block-image {
  background-color: rgba(10, 209, 143, 0.22);
  border-color: #0ad18f;
}
.bitad-light-purple {
  background-color: rgba(110, 3, 228, 0.12);
}
.bitad-light-purple .wp-block-image {
  background-color: rgba(110, 3, 228, 0.22);
  border-color: #6e03e4;
}
.bitad-light-pink {
  background-color: rgba(229, 0, 126, 0.12);
}
.bitad-light-pink .wp-block-image {
  background-color: rgba(229, 0, 126, 0.22);
  border-color: #e5007e;
}

@media all and (max-width: 781px) {
  :root {
    --font-size-m: 20px;
    --line-height-m: 28px;
    --font-size-xxl: 44px;
    --line-height-xxl: 52px;
    --font-size-xl: 34px;
    --line-height-xl: 42px;
  }
}

html {
  font-family: "PT Sans";
  font-size: var(--root-font-size);
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: var(--color-blue);
}
.bitad-nav a,
.bitad-footer-widgets .widget_nav_menu a {
  color: var(--color-black);
}
.bitad-nav a:hover,
.bitad-footer-widgets .widget_nav_menu a:hover {
  color: var(--color-blue);
}

.bitad-button > a,
a.bitad-button {
  display: inline-block;
  padding: var(--margin-xxs) var(--margin-xs);
  border: var(--border);
  border-radius: 14px;
  color: var(--color-black);
}
.bitad-button:hover,
.bitad-button:hover > a {
  color: var(--color-blue);
  border-color: var(--color-blue);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}
h1 {
  margin-bottom: var(--section-margin);
  line-height: var(--line-height-xxl);
  font-size: var(--font-size-xxl);
  letter-spacing: 0.2px;
}
h2 {
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-xl);
  letter-spacing: 0.81px;
  line-height: var(--line-height-xl);
}
h3 {
  margin-bottom: var(--margin-xs);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: normal;
  letter-spacing: 0.9px;
}
h4 {
  margin-bottom: var(--margin-s);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  letter-spacing: -0.1px;
  font-weight: normal;
}
p {
  line-height: 1.9;
  margin-bottom: var(--margin-xs);
}

.bitad-center > .wp-block-group__inner-container > p,
.half-right {
  margin-bottom: var(--margin-xl);
}

.bitad-hero-subtitle {
  margin-bottom: var(--margin-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  letter-spacing: -0.1px;
  font-weight: normal;
}
.bitad-hero-button > .wp-block-button__link {
  padding: var(--margin-xxs) var(--margin-m);
  font-size: var(--font-size-m);
  letter-spacing: -0.1px;
  font-weight: bold;
}

.bitad-shadow,
.bitad-image-shadow img {
  box-shadow: 0px 12.4px 49.3px 0px rgba(0, 0, 0, 0.24);
}

.bitad-element p {
  margin-bottom: var(--margin-m);
}

.bitad-element > p,
.bitad-organizers p,
.bitad-organizer-profile h4,
.bitad-event-credentials p {
  margin-bottom: 0;
}

.bitad-element p,
.bitad-organizers,
.bitad-footer,
.bitad-event {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}
.bitad-event-credentials p:first-child {
  line-height: 1.2;
}
.bitad-footer p {
  line-height: var(--line-height-s);
  margin-bottom: var(--margin-m);
}
.bitad-footer p:last-of-type {
  margin-bottom: 0;
}

.bitad-event-coordinate p,
.bitad-event > .wp-block-group__inner-container > p:last-child {
  margin-bottom: 0;
}
